Repository CodeNoLimits/BRESLEV-TORAH-ONLINE: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, frontend-type-check, frontend-lint

pytest-check:
  name: pytest-check
  entry: bash -c 'cd backend && python -m pytest tests/ --co -q > /dev/null'
  language: system
  pass_filenames: false

frontend-type-check:
  name: frontend-type-check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend-lint
  entry: bash -c 'cd frontend && npm run lint:check'
  language: system
  pass_filenames: false

feat: implement comprehensive deployment and DevOps infrastructure
  .env.development
  .github/workflows/dependency-update.yml
  backend/app/utils/monitoring.py
  docker-compose.override.yml
  docker-compose.staging.yml
  infrastructure/k8s/helm/breslev-torah/values.yaml
  infrastructure/monitoring/alerts.yml
  infrastructure/monitoring/docker-compose.monitoring.yml
  railway.toml
  scripts/deploy-k8s.sh
  scripts/deploy.sh
  scripts/maintenance.py
  vercel.json
Due: pytest-check

feat: implement smart import system for Breslov books with API/crawling fallback
  backend/SMART_IMPORT_GUIDE.md
  backend/app/api/v1/texts.py
  backend/app/services/sefaria_smart_import.py
  backend/scripts/test_smart_import.py
  backend/scripts/verify_and_fix_import.py
Due: pytest-check

feat: add production-ready import system with real section counts
  ETAT_FINAL_PROJET.md
  backend/app/services/sefaria_smart_import.py
  backend/scripts/import_production_books.py
Due: pytest-check

fix: resolve SSR issues with localStorage in frontend
  frontend/lib/api.ts
  frontend/providers/auth-provider.tsx
  frontend/providers/theme-provider.tsx
Due: frontend-type-check, frontend-lint

fix: optimize Netlify deployment configuration
  frontend/.nvmrc
  frontend/netlify.toml
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint

Path conditions:
  pytest-check: any of: ^backend/.*\.py$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-lint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
